/* Estilos básicos */
html, * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.map {
    flex: 1 1;
    height: 400px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    padding: 1rem;
}

.stationsList {
    font-size: 1.2em;
    height: 2.5em;
}

.infoStation {
    flex: 1 0 auto;
    background-color: #fff0f0;
    padding: 1em;
}